<section>
  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, reprehenderit
    unde quas numquam libero dolorum harum, veritatis dolor omnis consequuntur
    quia asperiores! Esse enim reiciendis tenetur unde possimus, doloremque
    atque! Repellat facere eligendi, voluptatibus maxime repudiandae quis.
    Pariatur quisquam corporis ut, eum deleniti iure modi labore, laboriosam qui
    quod rem recusandae soluta neque atque ullam, magni optio exercitationem
    nulla placeat.
  </h2>
</section>
