<!--OUR ADVANTAGE SECTION-->
<section class="advantages-section">
    <div class="container">
        <h2 class="visually-hidden">Our advantage</h2>
        <div class="advantages-container">
            <ol class="advantages-list">
                <li class="advantages-item" > 
                    <h3 class="advantages-number">01</h3>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item"> 
                    <h3 class="advantages-number">02</h3>
                    <p class="advantages-text"> Fishing: try to catch your own dinner</p>

                </li>
                <li class="advantages-item">
                    <h3 class="advantages-number">03</h3>
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-number">04</h3>
                    <p class="advantages-text"> Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ol>
            <picture>
                <source
                srcset="    1x
                            2x"
                media="(min-width: 1280px)"            
                />
                <source
                srcset=""
                media="(min-width: 768px)"
                >
                <source
                srcset=""
                media="(max-width: 767px)">
                <img src="" alt="">
            </picture>

        </div>

    </div>
</section>