<!--OUR ADVANTAGE SECTION-->
<section class="advantages-section">
    <div class="container advantages-container">
        <h2 class="visually-hidden">Our advantage</h2>
            <ol class="advantages-list">
                <li class="advantages-item" > 
                    <span class="advantages-number">01</span>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item"> 
                    <span class="advantages-number">02</span>
                    <p class="advantages-text"> Fishing: try to catch your own dinner</p>

                </li>
                <li class="advantages-item">
                    <span class="advantages-number">03</span>
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantages-item">
                    <span class="advantages-number">04</span>
                    <p class="advantages-text"> Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ol>
            <picture>
                <source
                srcset="./img/images-our-advantages/photo-our-advantages-desctop.jpg 1x,
                ./img/images-our-advantages/photo-our-advantages-desctop@2x.jpg 2x"
                media="(min-width: 1280px)"            
                />
                <source
                srcset="./img/images-our-advantages/photo-our-advantages-tablet.jpg 1x,
                ./img/images-our-advantages/photo-our-advantages-tablet@2x.jpg 2x"
                media="(min-width: 768px)"
                >
                <source
                srcset="./img/images-our-advantages/photo-our-advantages-mobile.jpg 1x,
                ./img/images-our-advantages/photo-our-advantages-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
                <img class="advantages-image" src="./img/images-our-advantages/photo-our-advantages-desctop.jpg" alt="Yacht">
            </picture>
    </div>
</section>