<header class="header-block">
  <div class="container container-header">
    <div class="header-nav-container">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#yachts">YACHTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">REVIEWS</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="mob-menu-btn js-open-menu">
        <svg width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
      <ul class="header-social">
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.instagram.com/">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.youtube.com">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.facebook.com/">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Mobile-menu-header -->
  <!-- open-mobile-menu -->
  <div class="mobile-menu-wrapper">
    <div class="mobile-menu-container">
      <div class="mobile-menu-title">
        <a class="mobile-logo" href="./index.html">yachtjet</a>
        <button class="mobile-close-btn" type="button">
          <svg
            class="mobile-close-icon"
            width="16"
            height="16"
            aria-label="mobil close icon"
          >
            <use href="./img/symbol-defs-optimizovan.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-nav-menu">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item mobile-decoration-border">
            <a class="mobile-nav-link" href="#about">About</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#yachts">Yachts</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="mobile-social-list">
        <li class="mobile-social-item">
          <a
            class="mobile-social-link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg
              class="mobile-social-icon"
              width="19"
              height="19"
              aria-label="icon instagram"
            >
              <use
                href="./img/symbol-defs-optimizovan.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-item">
          <a class="mobile-social-link" href="https://www.youtube.com/c/GoIT">
            <svg
              class="mobile-social-icon"
              width="20"
              height="20"
              aria-label="icon youtube"
            >
              <use href="./img/symbol-defs-optimizovan.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-item">
          <a
            class="mobile-social-link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg
              class="mobile-social-icon"
              width="20"
              height="20"
              aria-label="icon facebook"
            >
              <use href="./img/symbol-defs-optimizovan.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
