<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- SECTION-3 -->
    <picture>
      <source
        srcset="
          ../img/images-section-3/photo-section-3-desctop.png    1x,
          ../img/images-section-3/photo-section-3-desctop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-3/photo-section-3-tablet.png    1x,
          ../img/images-section-3/photo-section-3-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images-section-3/photo-section-3-mobile.png    1x,
          ../img/images-section-3/photo-section-3-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/images-section-3/photo-section-3-desctop@2x.png"
        alt="SEXY YACHT"
      />
    </picture>
    <!-- /SECTION-3 -->
    <!-- SECTION-4 -->
    <picture>
      <source
        srcset="
          ../img/images-section-4/arrow-yacht-desctop.jpg    1x,
          ../img/images-section-3/arrow-yacht-desctop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-4/benetti-oasis-yacht-desctop.jpg    1x,
          ../img/images-section-4/benetti-oasis-yacht-desctop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-4/belle-anna-yacht-desctop.jpg    1x,
          ../img/images-section-4/belle-anna-yacht-desctop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-4/arrow-yacht-tablet.jpg    1x,
          ../img/images-section-3/arrow-yacht-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images-section-4/benetti-oasis-yacht-tablet.jpg    1x,
          ../img/images-section-4/benetti-oasis-yacht-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images-section-4/img-yaht-section-4-mobile.jpg    1x,
          ../img/images-section-3/img-yaht-section-4-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/images-section-3/img-yaht-section-4-mobile@2x.jpg"
        alt="SEXY YACHT"
      />
    </picture>
    <!-- /SECTION-4 -->
    <!-- SECTION-5 -->
    <picture>
      <source
        srcset="
          ../img/images-section-5/photo-section-5-desctop.jpg    1x,
          ../img/images-section-5/photo-section-5-desctop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-5/photo-section-5-tablet.jpg    1x,
          ../img/images-section-5/photo-section-5-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images-section-5/photo-section-5-mobile.jpg    1x,
          ../img/images-section-5/photo-section-5-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/images-section-5/photo-section-5-desctop@2x.jpg"
        alt="SEXY YACHT"
      />
    </picture>
    <!-- /SECTION-5 -->
    <!-- SECTION-6 -->
    <picture>
      <source
        srcset="
          ../img/images-section-6/photo-section-6-desctop.jpg    1x,
          ../img/images-section-6/photo-section-6-desctop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/images-section-6/photo-section-6-tablet.jpg    1x,
          ../img/images-section-6/photo-section-6-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images-section-6/photo-section-6-mobile.jpg    1x,
          ../img/images-section-6/photo-section-6-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/images-section-6/photo-section-6-desctop@2x.jpg"
        alt="SEXY YACHT"
      />
    </picture>
    <!-- /SECTION-6 -->
    <!-- SECTION-7 -->
    <img
      srcset="../img/images-section-7/ihor-trachuk@2x.jpg 2x"
      src="../img/images-section-7/ihor-trachuk.jpg"
      alt="ihor-trachuk"
      width="56"
      height="56"
    />
    <img
      srcset="../img/images-section-7/john-wax@2x.jpg 2x"
      src="../img/images-section-7/john-wax.jpg"
      alt="john-wax"
      width="56"
      height="56"
    />
    <img
      srcset="../img/images-section-7/victoria-romashenko@2x.jpg 2x"
      src="../img/images-section-7/victoria-romashenko.jpg"
      alt="victoria-romashenko"
      width="56"
      height="56"
    />
    <!-- /SECTION-7 -->
  </body>
</html>
