<section>
  <div class="container">
    <div class="our-yachts">
      <h2 class="our-yachts-title">
        Choose your dream yacht and sail away into the sunset
      </h2>

      <div class="yacht-card">
        <img
          class="yacht-card-img"
          width="302"
          height="240"
          src="../img/images-choose-your-yacht/arrow-yacht-mobile.jpg"
          alt="yacht choice"
        />

        <div class="yacht-kartka">
          <div class="top-description">
            <p class="type">Arrow</p>
            <p class="filter">Luxury yahts</p>
          </div>
          <div class="yacht-card-parameters">
            <div class="left">
              <p class="under-type">Length</p>
              <p class="under-type">Builder</p>
              <p class="under-type">Built</p>
              <p class="under-type">Guests</p>
              <p class="under-type">Price</p>
            </div>
            <div class="right">
              <p class="under-filter">48m(155ft)</p>
              <p class="under-filter">Admiral</p>
              <p class="under-filter">2021</p>
              <p class="under-filter">11 in 5 cabins</p>
              <p class="under-filter">€33,500,000</p>
            </div>
          </div>
        </div>
      </div>

      <button class="our-yachts-button" type="button">Yacht rental</button>
    </div>
  </div>
</section>
