<section>
  <div class="container">
    <div class="our-yachts">
      <h2 class="our-yachts-title">
        Choose your dream yacht and sail away into the sunset
      </h2>

      <div class="yacht-card">
        <img
          class="yacht-card-img"
          width="302"
          height="240"
          src="../img/images-choose-your-yacht/arrow-yacht-mobile.jpg"
          alt="yacht choice"
        />

        <div class="yacht-kartka">
          <div class="top-description">
            <p class="type">Arrow</p>
            <p class="filter">Luxury yahts</p>
          </div>
          <div class="yacht-card-parameters">
            <div class="left">
              <p class="under-type">Length</p>
              <p class="under-type">Builder</p>
              <p class="under-type">Built</p>
              <p class="under-type">Guests</p>
              <p class="under-type">Price</p>
            </div>
            <div class="right">
              <p class="under-filter">48m(155ft)</p>
              <p class="under-filter">Admiral</p>
              <p class="under-filter">2021</p>
              <p class="under-filter">11 in 5 cabins</p>
              <p class="under-filter">€33,500,000</p>
            </div>
          </div>
        </div>
        </div>

        <div class="yacht-card-tablet">
        <img
          class="yacht-card-img"
          width="302"
          height="240"
          src="../img/images-choose-your-yacht/arrow-yacht-mobile.jpg"
          alt="yacht choice"
        />

        <div class="yacht-kartka">
          <div class="top-description">
            <p class="type">Arrow</p>
            <p class="filter">Luxury yahts</p>
          </div>
          <div class="yacht-card-parameters">
            <div class="left">
              <p class="under-type">Length</p>
              <p class="under-type">Builder</p>
              <p class="under-type">Built</p>
              <p class="under-type">Guests</p>
              <p class="under-type">Price</p>
            </div>
            <div class="right">
              <p class="under-filter">48m(155ft)</p>
              <p class="under-filter">Admiral</p>
              <p class="under-filter">2021</p>
              <p class="under-filter">11 in 5 cabins</p>
              <p class="under-filter">€33,500,000</p>
            </div>
          </div>
        </div>

        <div class="yacht-card-desktop">
        <img
          class="yacht-card-img"
          width="302"
          height="240"
          src="../img/images-choose-your-yacht/arrow-yacht-mobile.jpg"
          alt="yacht choice"
        />

        <div class="yacht-kartka">
          <div class="top-description">
            <p class="type">Arrow</p>
            <p class="filter">Luxury yahts</p>
          </div>
          <div class="yacht-card-parameters">
            <div class="left">
              <p class="under-type">Length</p>
              <p class="under-type">Builder</p>
              <p class="under-type">Built</p>
              <p class="under-type">Guests</p>
              <p class="under-type">Price</p>
            </div>
            <div class="right">
              <p class="under-filter">48m(155ft)</p>
              <p class="under-filter">Admiral</p>
              <p class="under-filter">2021</p>
              <p class="under-filter">11 in 5 cabins</p>
              <p class="under-filter">€33,500,000</p>
            </div>
          </div>
        </div>
    

      <button class="our-yachts-button" type="button">Yacht rental</button>
        <!-- <a href="" class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse totam magnam dicta, ab dolores qui repellendus nulla alias natus delectus laborum autem, quidem vel accusantium porro, aliquid aut. Placeat, dolores.
        Veritatis dolores enim eveniet, reiciendis in at hic provident incidunt, veniam iusto nam quibusdam blanditiis non cupiditate fuga iste? Earum, magni? Quia facilis veniam aperiam, voluptate dolorem necessitatibus nemo molestiae.
        Delectus pariatur, incidunt dolorem maxime sit, modi expedita quae fugit reiciendis dolorum eos dolor quisquam illo velit omnis corrupti magnam veritatis quam repudiandae magni architecto provident. Quam repellendus officia adipisci?
        Libero incidunt odio iste facilis aperiam delectus. Doloremque, non explicabo optio, eaque similique necessitatibus velit, impedit itaque inventore aliquid quidem consequuntur sunt recusandae facere! Aliquam veritatis ipsum assumenda facere consequuntur!
        Sit soluta unde quos voluptatem, repudiandae, cumque eveniet quasi a molestias voluptate rem nemo hic voluptates ea aut illo necessitatibus? Dolore quo enim natus, voluptas quis eligendi ex hic ut!
        Amet quo tenetur in, aliquam voluptate ab autem voluptas iusto molestias animi ad, excepturi facere veritatis architecto eveniet at aliquid! Voluptatibus natus facilis cumque cupiditate repudiandae voluptate ea iusto accusamus.
        Reprehenderit neque asperiores amet animi doloremque iure praesentium repudiandae porro suscipit laboriosam tempore nemo magnam aspernatur nam veniam, debitis laudantium dolores eum! Officia deleniti, voluptatibus optio sint possimus excepturi cupiditate?
        Doloribus ipsum sed, debitis repudiandae nobis inventore neque quo voluptatem, est quae consectetur, expedita veritatis quaerat recusandae mollitia incidunt odit dolore dolorum temporibus ullam? Maiores nostrum accusantium rem recusandae assumenda?
        Eligendi consequuntur ratione quis saepe ducimus in soluta, dolorum necessitatibus quia incidunt sequi ab illum quo, molestiae et! Illo, maxime expedita omnis obcaecati natus necessitatibus consequuntur sequi dolorum optio voluptatem!
        Hic porro culpa dolores architecto officia molestiae totam reiciendis earum cum ipsa, aspernatur perferendis. Corrupti libero perferendis modi tenetur ipsa alias eius itaque fugiat laboriosam! Obcaecati commodi dolor aperiam doloribus!</a>
    </div> -->
  <!-- <a class="our-yachts-button" href="#">Yacht rental</a> -->
</div>
</section>
