<section class="our-yachts-section" id="yachts">
  <div class="container">
    <div class="our-yachts">
      <h2 class="our-yachts-title">
        Choose your dream yacht and sail away into the sunset
      </h2>

      <div class="cards">
        <div class="yacht-card">
          <picture>
            <source
              srcset="
                ../img/images-choose-your-yacht/arrow-yacht-desctop.jpg    1x,
                ../img/images-choose-your-yacht/arrow-yacht-desctop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/images-choose-your-yacht/arrow-yacht-tablet.jpg    1x,
                ../img/images-choose-your-yacht/arrow-yacht-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/images-choose-your-yacht/arrow-yacht-mobile.jpg    1x,
                ../img/images-choose-your-yacht/arrow-yacht-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/images-choose-your-yacht/arrow-yacht-tablet.jpg"
              alt="arrow-yacht"
            />
          </picture>

          <div class="yacht-kartka">
            <div class="top-description">
              <p class="type">Arrow</p>
              <p class="filter">Luxury yahts</p>
            </div>
            <div class="yacht-card-parameters">
              <div class="left">
                <p class="under-type">Length</p>
                <p class="under-type">Builder</p>
                <p class="under-type">Built</p>
                <p class="under-type">Guests</p>
                <p class="under-type">Price</p>
              </div>
              <div class="right">
                <p class="under-filter">48m(155ft)</p>
                <p class="under-filter">Admiral</p>
                <p class="under-filter">2021</p>
                <p class="under-filter">11 in 5 cabins</p>
                <p class="under-filter">€33,500,000</p>
              </div>
            </div>
          </div>
        </div>

        <div class="yacht-card yacht-card-tablet">
          <picture>
            <source
              srcset="
                ../img/images-choose-your-yacht/benetti-oasis-yacht-desctop.jpg    1x,
                ../img/images-choose-your-yacht/benetti-oasis-yacht-desctop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/images-choose-your-yacht/benetti-oasis-yacht-tablet.jpg    1x,
                ../img/images-choose-your-yacht/benetti-oasis-yacht-tablet@2x.jpg 2x
              "
            />
            <img
              src="../img/images-choose-your-yacht/benetti-oasis-yacht-desctop.jpg"
              alt="benetti-oasis-yacht"
            />
          </picture>

          <div class="yacht-kartka">
            <div class="top-description">
              <p class="type">Arrow</p>
              <p class="filter">Luxury yahts</p>
            </div>
            <div class="yacht-card-parameters">
              <div class="left">
                <p class="under-type">Length</p>
                <p class="under-type">Builder</p>
                <p class="under-type">Built</p>
                <p class="under-type">Guests</p>
                <p class="under-type">Price</p>
              </div>
              <div class="right">
                <p class="under-filter">48m(155ft)</p>
                <p class="under-filter">Admiral</p>
                <p class="under-filter">2021</p>
                <p class="under-filter">11 in 5 cabins</p>
                <p class="under-filter">€33,500,000</p>
              </div>
            </div>
          </div>
        </div>

        <div class="yacht-card yacht-card-desktop">
          <img
            src="../img/images-choose-your-yacht/belle-anna-yacht-desctop.jpg"
            srcset="
              ../img/images-choose-your-yacht/belle-anna-yacht-desctop@2x.jpg 2x
            "
            alt="belle-anna-yacht"
          />

          <div class="yacht-kartka">
            <div class="top-description">
              <p class="type">Arrow</p>
              <p class="filter">Luxury yahts</p>
            </div>
            <div class="yacht-card-parameters">
              <div class="left">
                <p class="under-type">Length</p>
                <p class="under-type">Builder</p>
                <p class="under-type">Built</p>
                <p class="under-type">Guests</p>
                <p class="under-type">Price</p>
              </div>
              <div class="right">
                <p class="under-filter">48m(155ft)</p>
                <p class="under-filter">Admiral</p>
                <p class="under-filter">2021</p>
                <p class="under-filter">11 in 5 cabins</p>
                <p class="under-filter">€33,500,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="our-yachts-button" type="button">Yacht rental</button>
    </div>
  </div>
</section>
