/*-------MOBILE ADVANTAGE SECTION----------------*/
.advantages-section {
    padding-top: 80px;
    padding-bottom: 40px;
}

.advantages-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 24px;
    background-color: #1B414B;
    padding: 80px 20px;
    list-style: none;   
    margin: 0 auto;
}

.advantages-number {
    display: block;
    position: relative;
    color: #FBFBFB;
    font-size: 28px;     
    font-weight: 500;
    line-height: 1;
    
    padding-bottom: 18px;
}

.advantages-text {
    max-width: 292px;
    color: #FBFBFB;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.8;
    padding-top: 18px;
    letter-spacing: -0.05em;
    border-top: 2px solid rgba(251, 251, 251, .1);
}

.advantages-image {
    max-width: 100%;
}

/*----------TABLET ADVANTAGE SECTION-------------------------*/

@media screen and (min-width: 768px) {
    
    .advantages-section {
        padding-top: 150px;
        padding-bottom: 75px;
    }


    .advantages-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
        

    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 32px;
        row-gap: 44px;
        max-width: 704px;
        padding: 90px 32px;
    }

    .advantages-item {
        flex-basis: calc((100% - 32px) /2) ;
    }

    .advantages-number {        
        font-size: 32px;
    }

    .advantages-text {   
        font-size: 13px;
        line-height: 1.15;
    }

    .advantages-image {
        max-width: 704px;
    }
}

/*----------DESKTOP ADVANTAGES SECTION-------------------*/

@media screen and (min-width: 1280px) {
    .advantages-container {
        display: flex;
        flex-direction: row;
        row-gap: 32px;
    }

    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 44px;
        max-width: 716px;
        padding: 82px 50px;
    }

    .advantages-item {
        flex-basis: calc((100% - 44px) /2);
    }

    .advantages-image {
        max-width: 432px;
    }

}