.footer-wrapper {
  max-width: 355px;
  margin: auto;
  padding: 40px 10px 20px 10px;
  border-radius: 24px 24px 0px 0px;
  background-color: #1b414b;
}
.footer-main-navigation {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}
.footer-logo {
  color: #fbfbfb;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.footer-navigation-list {
  display: flex;
  gap: 4px;
}
.footer-navigation-item {
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.3);
  min-width: 66px;
  height: 40px;
}
.footer-navigation-item:active {
  background-color: #fbfbfb;
}
.footer-navigation-link:active {
  color: #1b414b;
}
.footer-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  color: #fbfbfb;

  font-size: 9px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}
.footer-social-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  fill: #fbfbfb;
}
.footer-social-link:hover,
.footer-social-link:focus {
  fill: rgba(251, 251, 251, 0.8);
}
.footer-title-slogan {
  width: 255px;
  margin: auto;
  color: #fbfbfb;
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 82px;
}
.footer-text {
  color: rgba(251, 251, 251, 0.4);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-container-text {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    max-width: 734px;
    padding: 50px 48px 23px 48px;
  }

  .footer-container {
    display: flex;
    gap: 91px;
    align-items: baseline;

    margin-bottom: 96px;
  }
  .footer-main-navigation {
    gap: 106px;
    margin-bottom: 0;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-navigation-item {
    min-width: 91px;
  }
  .footer-navigation-link:hover,
  .footer-navigation-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
  }

  .footer-social-list {
    margin-bottom: 0;
  }
  .footer-title-slogan {
    width: 540px;

    font-size: 32px;
    margin-bottom: 99px;
  }
  .footer-container-text {
    gap: 32px;
  }
  .footer-text {
    color: rgba(251, 251, 251, 0.4);
    font-size: 14px;
    line-height: 118%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-wrapper {
    max-width: 1230px;
    padding: 50px 75px 20px 75px;
  }
  .footer-main-navigation {
    gap: 326px;
  }
  .footer-container {
    gap: 311px;
  }
  .footer-title-slogan {
    width: 640px;
  }
}
