.header {
  position: absolute;
  width: 1080px;
  height: 48px;
  left: 0px;
  top: 0px;

  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

.header-logo {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;

  color: #1b414b;
}

.nav-link {
  position: absolute;
  width: 91px;
  height: 40px;
  left: 0px;
  top: 0px;

  background: #1b414b;
  border-radius: 8px;
}
.nav-item {
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  width: 91px;
  height: 40px;
  left: 95px;
  top: 0px;

  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;

  /*text Yachts */

  position: absolute;
  width: 42px;
  height: 10px;
  left: 119px;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.2px;
  text-align: center;
  text-transform: uppercase;

  color: #fbfbfb;
}
