/* HERO SECTION */

.hero-section {
    display: block;
    max-width: 375px;
    width: 100%;
    padding-top: 198px;
    padding-bottom: 243px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();

}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding-top: 204px;
        padding-bottom: 215px;
        background-image: url();
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        max-width: 1280px;
        padding-top: 155px;
        padding-bottom: 180px;
        background-image: url();
    }
}

.hero-title {
    width: 335px;
    margin: 0 0 24px 0;
    color: #FBFBFB;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .hero-title {
        width: 704px;
        height: auto;
        font-size: 70px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        display: block;
        width: 1001px;
        margin-left: 89px;
        margin-right: 89px;
        height: auto;
        font-size: 70px;
    }
}

.hero-paragraph {
    margin-bottom: 38px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.16;
    color: rgba(251, 251, 251, 0.70);
    text-align: center;

}

@media screen and (min-width: 768px) {
    .hero-paragraph {
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1280px) {
    .hero-paragraph {
        width: 597px;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero-container {
    display: block;
}

.hero-link {
    display: flex;
    max-width: 141px;
    height: 46px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: 0.02em;
    color: #FBFBFB;
    background: #1B414B;
}

.hero-link:hover {
    color: #1B414B;
    background-color: #FBFBFB;

}

.hero-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;

}

@media screen and (min-width: 768px) {
    .hero-link {
        min-width: 179px;
        height: 52px;
        font-size: 18px;
        line-height: 1.1;

    }
}

@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-device-pixel-ratio: 2) {
    @media (max-width: 767px) {
        .hero-section {
            background-image: linear-gradient(to bottom, rgba(17, 19, 31, 0.8) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%),
                url();
        }
    }

    @media (min-width: 768px) {
        .hero-section {
            background-image: linear-gradient(to bottom, rgba(17, 19, 31, 0.8) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%),
                url();
        }
    }

    @media (min-width: 1280px) {
        .hero-section {
            background-image:
                linear-gradient(to bottom, rgba(17, 19, 31, 0.8) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%),
                url();
        }
    }
}
/* /HERO SECTION */