/* HERO SECTION */

.hero-section {
    display: block;
    width: 100%;
    padding-top: 260px;
    padding-bottom: 243px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding-top: 280px;
        padding-bottom: 215px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        max-width: 1280px;
        padding-top: 230px;
        padding-bottom: 180px;
    }
}

.hero-title {
    width: 100%;
    margin: 0 0 24px 0;
    color: #FBFBFB;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .hero-title {
        width: 100%;
        height: auto;
        font-size: 70px;
        letter-spacing: -1.4px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        display: block;
        width: 1001px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        font-size: 80px;
    }
}

.hero-paragraph {
    margin-bottom: 38px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.16;
    color: rgba(251, 251, 251, 0.70);
    text-align: center;

}

@media screen and (min-width: 768px) {
    .hero-paragraph {
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.4;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px) {
    .hero-paragraph {
        width: 597px;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero-container {
    display: block;
}

.hero-link {
    display: flex;
    max-width: 141px;
    height: 46px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    background: #1B414B;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover {
    color: #1B414B;
    background-color: #FBFBFB;

}

.hero-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;

}

@media screen and (min-width: 768px) {
    .hero-link {
        min-width: 179px;
        height: 52px;
        font-size: 18px;
        line-height: 1.1;

    }
}


/* /HERO SECTION */