.rent-a-yacht-blank {
    padding-bottom: 100px;
}
.our-yachts {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.our-yachts-title {
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    /* 100% */
    letter-spacing: -0.56px;
    margin-bottom: 40px;
    max-width: 319px;
}

.yacht-card-list {
    margin-bottom: 40px;
}

.yacht-card, .yacht-card-tablet, .yacht-card-desktop {
    background: #FBFBFB;
    border-radius: 15px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 334px;
}
.yacht-card-img {
    width: 100%;
    margin-bottom: 32px;
}
.yacht-card-parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.yacht-kartka {
    padding: 16px;
}
.yacht-card-tablet{
    display: none;
}
.yacht-card-desktop{
    display: none;
}
.yacht-card-img {
    margin-bottom: 32px;
}
.yacht-card-parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.yacht-kartka {
    padding: 16px;
}
.top-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.left {
    width: 62px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #040306;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    /* 16.52px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #040306;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 118%; */
    /* 16.52px */
    letter-spacing: 0.03em;
}
.type {
    display: block;
    color: #1B414B;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.16;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}
.filter {
    color: #040306;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.yacht-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc((100% - 114px) / 2);
}
.parameter {
    display: block;
}
.parameter-value {
    display: block;
}
.our-yachts-button {
    min-width: 141px;
    height: 46px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.35);
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    /* 128.571% */
    letter-spacing: -0.02em;
}
@media screen and (min-width: 768px){
    .rent-a-yacht-blank {
        padding-bottom: 150px;
    }
    .yacht-card-list{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .yacht-card, .yacht-card-tablet{
        max-width: 336px;
        width: calc((100% - 32px) / 2);
    }
    .yacht-card-tablet{
        display: list-item;
    }
    .our-yachts-title{
        max-width: 645px;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        /* 100% */
        letter-spacing: -0.96px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 75px;
    }
    .our-yachts-button{
        max-width: 179px;
        max-height: 52px;
    }
}
@media  screen and (min-width: 1280px) {
    .rent-a-yacht-blank {
        padding-bottom: 0;
    }
    .yacht-card-list{
        gap: 25px;
    }
    .yacht-card, .yacht-card-tablet, .yacht-card-desktop{
        max-width: 377px;
        width: calc((100% - 25px) / 3);
    }
    .yacht-card-desktop{
        display: list-item;
    }
    .our-yachts-title{
        max-width: 714px;
    }
}