.reviews-wrapper{
  margin-top: 40px;
  margin-bottom: 80px;
}
.reviews-title {
  color: #fbfbfb;
  width: 100%;

  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-dsc {
  width: 100%;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.4;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-item {
  display: flex;
  align-items: center;
  max-width: 335px;
  padding: 32px 8px;
  flex-direction: column;
  align-items: center;
  
  flex-shrink: 0;
  border-radius: 24px;
  background: #fbfbfb;
}

.reviews-item-img {
  margin-bottom: 24px;
}

.reviews-item-title {
  color: #040306;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1; /* 19.8px */
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.reviews-text {
  width: 100%;
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 22.4px */
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .reviews-item-second {
    display: none;
  }

  .reviews-item-third {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-wrapper{
    margin-top: 75px;
    margin-bottom: 150px;
  }
  .reviews-title {
    width: 704px;
    font-size: 48px;
  }

  .reviews-dsc {
    width: 571px;
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02px;
    margin-bottom: 75px;
  }

  .reviews-list {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  .reviews-item-third {
    display: none;
  }
}

@media screen and (min-width: 1280px) {

  .reviews-wrapper{
    margin-top: 75px;
    margin-bottom: 150px;
  }
  .reviews-title {
    max-width: 854px;
    font-size: 48px;
    line-height: 1; /* 100% */
    letter-spacing: -0.02px;
  }
  .reviews-dsc {
    max-width: 571px;
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    margin-bottom: 75px;
  }

  .reviews-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 26px;
    /* width: calc((100% - 52px) / 3); */
  }

  .reviews-item {
    max-width: 376px;
    padding-left: 28px;
    padding-right: 28px;
  }

}
